@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Bootstrap + your app styles -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Recipe_Sharing_Website.styles.css" />

    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- REQUIRED for interactivity -->
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
