@page "/login"
@rendermode @(new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode(prerender: false))

@inject NavigationManager Nav

<h3>Login</h3>

@if (!string.IsNullOrWhiteSpace(_err))
{
    <div class="alert alert-danger">@_err</div>
}

<form method="post" action="/auth/login">
    <div class="mb-2">
        <label class="form-label">Login as</label>
        <select class="form-control" name="Role" @bind="_role">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
    </div>

    <div class="mb-2">
        <label class="form-label">Username</label>
        <input class="form-control" name="Username" />
    </div>

    <div class="mb-2">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="Password" />
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</form>

@code {
    private string? _err;
    private string _role = "User";

    protected override void OnInitialized()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("err", out var err))
        {
            _err = err.ToString();
        }
    }
}
