@page "/logout"
@rendermode @(new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode(prerender: false))

<h3>Logout</h3>

<form method="post" action="/auth/logout">
    <button class="btn btn-danger" type="submit">Confirm Logout</button>
    <a class="btn btn-link" href="/">Cancel</a>
</form>
