@page "/logout"
 

@using Recipe_Sharing_Website.Data
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Nav

<p>Logging out...</p>

@code {
    protected override void OnInitialized()
    {
        if (HttpContextAccessor.HttpContext is HttpContext ctx)
        {
            AuthSession.Logout(ctx.Session);
        }

        Nav.NavigateTo("/", true);
    }
}
