<div class="p-2 border-bottom mb-3">
    <a href="/" class="me-3">Home</a>
    <a href="/recipes" class="me-3">Recipes</a>
    <a href="/recipes/create" class="me-3">Add Recipe</a>
    <a href="/premium" class="me-3">Premium</a>
    <a href="/admin" class="me-3">Admin</a>
    <a href="/ingredients" class="me-3">Ingredients</a>
    <a href="/login" class="me-3">Login</a>
    <a href="/logout" class="me-3">Logout</a>
</div>
