@using Recipe_Sharing_Website.Data
@inject IHttpContextAccessor HttpContextAccessor

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            RecipeHub
            @if (IsLoggedIn)
            {
                <span class="ms-2 text-warning">
                    (@Username)
                </span>
            }
        </span>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column p-2">

        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="/recipes">Recipes</NavLink>

        @if (IsLoggedIn)
        {
            <NavLink class="nav-link" href="/recipes/create">Add Recipe</NavLink>
            <NavLink class="nav-link" href="/premium">Premium</NavLink>

            @if (IsAdmin)
            {
                <hr />
                <NavLink class="nav-link" href="/admin">Admin</NavLink>
                <NavLink class="nav-link" href="/ingredients">Ingredients</NavLink>
            }

            <hr />
            <NavLink class="nav-link" href="/logout">Logout</NavLink>
        }
        else
        {
            <hr />
            <NavLink class="nav-link" href="/login">Login</NavLink>
            <NavLink class="nav-link" href="/register">Register</NavLink>
        }
    </nav>
</div>

@code {
    private bool IsLoggedIn =>
        HttpContextAccessor.HttpContext is HttpContext ctx &&
        AuthSession.IsLoggedIn(ctx.Session);

    private bool IsAdmin =>
        HttpContextAccessor.HttpContext is HttpContext ctx &&
        AuthSession.IsAdmin(ctx.Session);

    private string Username =>
        HttpContextAccessor.HttpContext?.Session.GetString(AuthSession.NameKey)
        ?? "";
}
